.LoginSpotifyLink {
  font-family: "Monoton", cursive;
  font-size: 56px;
  color: grey;
  text-decoration: none;
}
.LoginSpotifyLink:hover {
  color: rgb(245, 24, 190);
}

.Login {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
