.radio-player {
  margin: 40px 20px;
  background: #f6f6f6;
  border-radius: 24px;
}
.radio-track-img {
  width: 220px;
  height: 220px;
  border-radius: 12px;
}
.radio-track {
  margin: 10px;
}
.song-name {
  font-size: 34px;
  font-family: "Open Sans", sans-serif;
}
.album-name {
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
}

.radio-control {
  color: grey;
  display: flex;
}

.form-range {
  width: 140px;
  display: block;
  transform: rotate(270deg);
  margin-top: 50px;
  margin-left: -20px;
}

h1 {
  text-align: center;
  font-family: "Monoton", cursive;
  font-size: 56px;
  color: grey;
}
.play {
  cursor: pointer;
}
.skip {
  cursor: pointer;
}
