.main-screen-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.radio-player {
  width: 90%;
  background: #f6f6f6;
  border-radius: 24px;
  margin: 0 auto;
  display: block;
}
.radio-track-img {
  width: 200px;
  height: 200px;
  border-radius: 12px;
}
.radio-track {
  margin: 10px;
}
.song-name {
  font-size: 34px;
  font-family: "Open Sans", sans-serif;
}
.album-name {
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
}

.radio-control {
  color: grey;
  display: flex;
}

.form-range {
  width: 140px;
  display: block;
  transform: rotate(270deg);
  margin-top: 50px;
  margin-left: -10px;
}

h1 {
  text-align: center;
  font-family: "Monoton", cursive;
  font-size: 56px;
  color: grey;
  margin-top: 10px;
}

.play-icon {
  cursor: pointer;
  padding-right: 20px;
}
.next-icon {
  cursor: pointer;
  margin-top: 30px;
  padding-right: 10px;
}

@media (max-width: 820px) {
  .radio-track-img {
    width: 100px;
    height: 100px;
    border-radius: 4px;
  }
  .song-name {
    font-size: 24px;
  }
  .album-name {
    font-size: 16px;
  }
  .play-icon {
    width: 70%;
    padding-right: 20px;
  }
  .next-icon {
    width: 40%;
    margin-top: 30px;
    padding-right: 10px;
  }
  .form-range {
    display: none;
  }
}
