.photo-card-wrapper {
  display: flex;
  justify-content: center;
  flex-basis: 20%;
}
.photo-card {
  background-color: #fafafa;
  /* 1cm - 3px */
  width: 213px;
  height: 240px;
  padding-top: 18px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border-radius: 2px;
}
.photo-card-photo {
  background-color: #000000;
  background-size: cover;
  width: 183px;
  height: 183px;
  margin: 0 auto;
  position: relative;
}
.photo-card-color {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  animation: developer 3s ease-in-out forwards;
}
@keyframes developer {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.photo-card-description {
  width: 183px;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  font-size: 1.1em;
  font-family: Trebuchet MS, sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.photo-card-status-icon {
  position: absolute;
  right: 4px;
  color: white;
  opacity: 0;
}
.photo-card:hover .photo-card-status-icon {
  animation: show-status 0.3s ease-in-out forwards;
  -webkit-animation: show-status 0.3s ease-in-out forwards;
}
@keyframes show-status {
  from {
    bottom: -5px;
    opacity: 0;
  }
  to {
    bottom: 5px;
    opacity: 0.8;
  }
}
